# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
*.log

# Streamlit temp files
.streamlit/

# Hugging Face token & env
.env

# OS stuff
.DS_Store
Thumbs.db

# Temporary video/audio
*.mp4
*.wav
